.mod_materials {
	background-color: #0066FF;
	width: 150px;
	margin: 10px, 10px, 0, 10px;
	float: left;
	height: 220px;
	position: relative;
	border: #FFF8DC 2px solid;
	border-radius: 7px;
	box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.7);
}

.mod_materials:hover {
	position: relative;
	top: -10px;
	left: -3px;
	border-radius: 15px;
	cursor: pointer;
}

.mod_materials .wrapper {
	width: 120px;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

.mod_materials .wrapper img {
	display: block;
	border: #FFF8DC 2px solid;
	margin: 0 auto;
	width: 100px;
	height: 150px;
	border-radius: 7px;
}

.mod_materials .wrapper .title {
	width: 100px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.mod_materials .title a {
	text-decoration: none;
	color: #fff;
	font-family: Verdana, sans-serif;
	display: block;
	font-size: 16px;
	font-style: italic;
	width: 100%;
	white-space: pre-line;
	margin: 0 auto;
}

.mod_materials .title .size {
	width: 70px;
	text-align: center;
	display: block;
	margin: 1px auto, 0, auto;
	color: #fff;
	font-size: 10px;
}